<div class="dashboard-container">
    <div class="card-container">
      <div class="card stat-card">
        <h3>Nombre d'Utilisateurs</h3>
        <p>{{ totalUsers }}</p>
      </div>
      
      <div class="card stat-card">
        <h3>Nombre de Comptes Bancaires</h3>
        <p>{{ totalComptes }}</p>
      </div>
      <div class="card stat-card">
        <h3>Nombre d'Utilisateurs</h3>
        <p>{{ totalUsers }}</p>
      </div>
      
      <div class="card stat-card">
        <h3>Nombre de Comptes Bancaires</h3>
        <p>{{ totalComptes }}</p>
      </div>
    </div>
  
    <div class="chart-container">
      <canvas id="statChart"></canvas>
    </div>
  </div>
  