<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <title>Stevenson Bank | Home</title>

  <link rel="stylesheet" href="">

</head>

<body id="home">

  <header class="hero">

    <div id="navbar" class="navbar top">

      <h1 class="logo">

        <span class="text-primary">

          <i class="fas fa-dragon"></i> Stevenson

        </span> Bank

      </h1>

      <nav>

        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/login">Sign In</a></li>
            <li><a routerLink="/signup">Sign Up</a></li>
        </ul>
        
      </nav>

    </div>

    <div class="content">

      <h1>The Sky Is The Limit</h1>

      <p>We provide world-class financial assistance</p>

      <a href="#about" class="btn">

        <i class="fas fa-chevron-right"></i> Read More

      </a>

    </div>

  </header>

  <main>

    <!-- About: Icons -->

    <section id="about" class="icons bg-light">

      <div class="flex-items">

        <div>

          <i class="fas fa-university fa-2x"></i>

          <div>

            <h3>Investment Banking</h3>

            <p>

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem excepturi, quasi iusto aspernatur doloremque.

            </p>

          </div>

        </div>

        <div>

          <i class="fas fa-book-reader fa-2x"></i>

          <div>

            <h3>Portfolio Manager</h3>

            <p>

              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nulla, eos veniam corrupti debitis sunt.

            </p>

          </div>

        </div>

        <div>

          <i class="fas fa-pencil fa-2x"></i>

          <div>

            <h3>Tax & Custodial</h3>

            <p>

              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempore modi eius consequuntur veniam a.

            </p>

          </div>

        </div>

      </div>

    </section>

    <footer class="footer bg-dark">

      <div class="social">

        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>

        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>

        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>

      </div>

      <p>Copyright &copy; 2020 - StevensonBank</p>

    </footer>

  </main>
</body> 