@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 

* {

  padding: 0;

  margin: 0;

}

 

body {

  font-family: 'Roboto', sans-serif;

  background: #fff;

  color: #333;

  line-height: 1.6;

}

 

ul {

  list-style: none;

}

 

a {

  color: #333;

  text-decoration: none;

}

 

h1 {

  line-height: 1.2;

}

 

p {

  margin: 10px 0;

}

 

/* Navbar */

.navbar {

  display: flex;

  align-items: center;

  justify-content: space-between;

  background-color: #333;

  color: #fff;

  opacity: 0.8;

  width: 100%;

  height: 70px;

  position: fixed;

  top: 0;

  padding: 0 30px;

  transition: 0.5s;

}

 

.navbar.top {

  background: transparent;

}

 

.navbar a {

  color: #fff;

  padding: 10px 20px;

  margin: 0 5px;

}

 

.navbar a:hover {

  border-bottom: #28a745 2px solid;

}

 

.navbar ul {

  display: flex;

}

 

.navbar .logo {

  font-weight: 400;

}

 

/* Header */

.hero {

  background: url('https://images.pexels.com/photos/1036657/pexels-photo-1036657.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover;

  height: 100vh;

  position: relative;

  color: #fff;

}

 

.hero .content {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  text-align: center;

  height: 100%;

  padding: 0 20px;

}

 

.hero .content h1 {

  font-size: 55px;

  color: #fff;

}

 

.hero .content p {

  font-size: 23px;

}

 

.hero::before {

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0,0,0,0.6);

}

 

.hero * {

  z-index: 10;

}

 

/* Icons */

.icons {

  padding: 30px;

}

 

.icons h3 {

  font-weight: bold;

  margin-bottom: 15px;

}

 

.icons i {

  background-color: #28a745;

  color: #fff;

  padding: 1rem;

  border-radius: 50%;

  margin-bottom: 15px;

}

 

/* Text Colors */

.text-primary {

  color: #28a745;

}

 

/* Button */

.btn {

  cursor: pointer;

  display: inline-block;

  padding: 10px 30px;

  color: #fff;

  background-color: #28a745;

  border: none;

  border-radius: 5px;

}

 

.btn:hover {

  opacity: .7;

}

 

.flex-items {

  display: flex;

  text-align: center;

  justify-content: center;

  height: 100%;

}

 

.flex-items > div {

  padding: 20px;

}

 

/* Footer */

.footer {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  text-align: center;

  height: 200px;

}

 

.bg-dark {

  background: #333;

  color: #fff;

}

 

.footer a {

  color: #fff;

}

 

.footer a:hover {

  color: #28a745;

}

 

.footer .social > * {

  margin-right: 30px;

}